@keyframes fadeLeft{
  0%{
    opacity: 0.3;
    transform: translateX(-36px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.swiper-wrapper{
  background: #000;
}

.css{
  animation-name: fadeLeft;
  animation-duration: 1s;
}