@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.fontC{
  font-family: "JetBrains Mono", monospace;
}

input:focus{
  border: 0px solid rgb(255, 217, 0);
}


.b{
  scrollbar-width: none;
  background: rgb(25,25,6);
  background: -moz-linear-gradient(52deg, rgba(25,25,6,1) 12%, rgba(24,24,10,1) 20%, rgba(18,18,18,1) 80%, rgba(23,23,14,1) 85%, rgba(34,34,1,1) 100%);
  background: -webkit-linear-gradient(52deg, rgba(25,25,6,1) 12%, rgba(24,24,10,1) 20%, rgba(18,18,18,1) 80%, rgba(23,23,14,1) 85%, rgba(34,34,1,1) 100%);
  background: linear-gradient(52deg, rgba(25,25,6,1) 12%, rgba(24,24,10,1) 20%, rgba(18,18,18,1) 80%, rgba(23,23,14,1) 85%, rgba(34,34,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191906",endColorstr="#222201",GradientType=1);
}









@layer base {
  
}
body{
  scrollbar-width: none
}

button:active{
  transform: translateY(4px);
  
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.2) brightness(100%) sepia(100%) saturate(10000%) hue-rotate(10deg);
}


/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #121212 inset;
  border-radius: 0;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: rgb(197, 197, 197) !important;
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    scrollbar-width: none;
    @apply bg-background text-foreground;
  }
}